/* ========================= Media Queries */
/* ========================= Mobile */
/* Mobile Small (max 375px) */
@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .hero .heading {
        font-size: 1.8rem;
        line-height: 110%;
    }
}

/* Mobile Medium (376px – 479px) */
@media (max-width: 479px) {
    .container {
        max-width: 100%;
        padding: 0 1.25rem;
    }

    .hero .heading {
        font-size: 2rem;
    }

    .cta-header {
        display: none;
    }
}

/* Mobile Large (480px – 639px) */
@media (max-width: 639px) {
    .container {
        max-width: 100%;
        padding: 0 1.5rem;
    }

    .hero .bg-hero {
        object-position: 60% 50%;
    }

    .hero .heading {
        font-size: 2.2rem;
    }

    .hero .sub-heading {
        line-height: 130%;
    }

    .hero .container div {
        width: 100%;
    }

    header .nav {
        display: none;
    }

    .btn-rounded-icon-right {
        padding: .8rem 1rem;
    }

    .mobile-menu-button {
        display: block;
        background: transparent;
        border: none;
    }

    .mobile-menu-button img {
        width: 30px;
        height: 30px;
        filter: invert(1);
    }

    #shop .box {
        margin: 0;
        padding: 0;
        border: none;
    }

    #shop .box .top p {
        font-size: 1.2rem;
    }

    .search {
        display: none;
    }

    #shop {
        padding: 3rem 0;
    }

    #shop .content .list {
        gap: 0;
        justify-content: space-between;
    }

    #shop .heading {
        margin-bottom: 2rem;
    }

    #shop .box .top {
        margin-bottom: 2rem;
    }

    #shop .heading {
        justify-content: space-between;
    }

    #shop .heading p {
        font-size: 1.5rem;
    }

    #shop .heading img {
        width: 30px;
    }

    .about-icon-search {
        width: 25px !important;
    }

    .product-card.second {
        margin-top: 20px;
        display: block;
    }

    #services {
        padding: 3rem 0;
    }

    #services .content {
        flex-direction: column;
        gap: 10px;
    }

    #services .content .item {
        width: 100%;
    }

    #services .box {
        margin: 0;
        padding: 0;
        border: none;
    }

    #services .content .item.twin {
        flex-direction: row;
        gap: 10px;
    }

    #services .content .item .card div {
        font-size: 1.8rem;
        font-weight: 600;
    }

    #services .content .item .card-long div {
        font-size: 1.8rem;
        font-weight: 600;
    }

    #services .heading p {
        font-size: 1.5rem;
    }

    #services .heading img {
        width: 30px;
    }

    #about {
        padding: 3rem 0;
    }

    #about .box {
        margin: 0;
        padding: 0;
        border: none;
    }

    #about .heading p {
        font-size: 1.5rem;
    }

    #about .heading img {
        width: 30px;
    }

    #about .box .content {
        flex-direction: column;
    }

    #about .box .content div {
        width: 100%;
    }

    #about .box .content div:last-child {
        display: none;
    }

    #about .box .content div:first-child p {
        color: #667085;
        line-height: 140%;
    }

    #team .box {
        margin: 0;
    }

    #team {
        padding: 3rem 0;
    }

    #team .heading p {
        font-size: 1.5rem;
    }

    #team .heading img {
        width: 30px;
    }

    #blog {
        padding: 3rem 0;
    }

    #blog .box {
        flex-direction: column;
    }

    #blog .box div {
        width: 100%;
    }

    #blog .box .right {
        display: none;
    }

    #blog .heading p {
        font-size: 1.5rem;
    }

    #blog .heading img {
        width: 30px;
    }

    #contact .box {
        flex-direction: column-reverse;
        margin: 0;
    }

    #contact .box .left,
    #contact .box .right {
        width: 100%;
    }

    #contact form {
        gap: 18px;
        padding: 2rem 1.5rem;
    }

    #contact form .col {
        width: 48%;
    }

    #contact form .row {
        gap: unset;
        justify-content: space-between;
    }

    #contact .box .right .content .item .subtitle {
        font-size: .9rem;
    }

    .subscribe {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 5rem;
    }

    .subscribe div {
        width: 100%;
    }

    .subscribe .right {
        flex-direction: column;
    }

    .subscribe .right input {
        width: 100%;
    }

    .subscribe .right button {
        width: 100%;
    }

    footer .content {
        flex-direction: column;
    }

    footer .content .left {
        width: 100%;
        padding-bottom: 2rem;
    }

    footer .content .right {
        width: 100%;
        justify-content: unset;
        flex-wrap: wrap;
    }

    footer .content .right .item {
        width: 50%;
        margin-bottom: 30px;
    }

    footer .content .right .item ul {
        gap: 15px;
    }

    footer .copyright {
        margin-top: 0;
    }

    footer .copyright {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

/* ========================= Tablet */
/* Tablet */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Tablet landscape / medium */
@media (min-width: 768px) {
    .container {
        max-width: 968px;
    }
}

/* ========================= Dekstop */
/* Laptop 13" (>= 1280px) */
@media (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }

    .hero .container div {
        width: 45%;
    }

    .hero .heading {
        font-size: 3rem;
    }

    #about .box {
        padding: 3rem 2rem;
    }

    #about .box .content {
        gap: 2rem;
    }

    #about .box .content div:first-child p {
        line-height: 120%;
    }

    #blog .box .right {
        height: 65vh;
    }

    #services .content .item .card div {
        font-size: 2.5rem;
    }

    #services .content .item .card-long div {
        font-size: 2.5rem;
    }
}

/* Laptop 14" (>= 1440px) */
@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }

    .hero .heading {
        font-size: 3.5rem;
    }

    #about .box .content div:first-child p {
        line-height: 150%;
    }

    #blog .box .right {
        height: 50vh;
    }

    #about .box .content div {
        width: 43%;
    }

    #about .box .content {
        /* gap: 2rem; */
        justify-content: space-evenly;
    }
}

/* Laptop 16" (>= 1600px) */
@media (min-width: 1600px) {
    .container {
        max-width: 1536px;
    }

    #blog .box .right {
        height: 40vh;
    }

    #about .box .content {
        gap: 0rem;
        justify-content: space-around;
    }

    #about .box .content div {
        width: 40%;
    }
}

/* Desktop big (>= 1536px) */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

    #blog .box .right {
        height: 50vh;
    }
}


.test {
    color: pink;
}