/* ========================= Media Queries */
/* ========================= Mobile */
/* Mobile Small (max 375px) */
@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .hero .heading {
        font-size: 1.8rem;
        line-height: 110%;
    }
}

/* Mobile Medium (376px – 479px) */
@media (max-width: 479px) {
    .container {
        max-width: 100%;
        padding: 0 1.25rem;
    }

    .hero .heading {
        font-size: 2rem;
    }

    .cta-header {
        display: none;
    }
}

/* Mobile Large (480px – 639px) */
@media (max-width: 639px) {
    .container {
        max-width: 100%;
        padding: 0 1.5rem;
    }

    .hero .bg-hero {
        object-position: 60% 50%;
    }

    .hero .heading {
        font-size: 2.2rem;
    }

    .hero .sub-heading {
        line-height: 130%;
    }

    .hero .container div {
        width: 100%;
    }

    header .nav {
        display: none;
    }

    .btn-rounded-icon-right {
        padding: .8rem 1rem;
    }

    .mobile-menu-button {
        display: block;
        background: transparent;
        border: none;
    }

    .mobile-menu-button img {
        width: 30px;
        height: 30px;
        filter: invert(1);
    }

    #shop .box {
        margin: 0;
        padding: 0;
        border: none;
    }

    #shop .box .top p {
        font-size: 1.2rem;
    }

    .search {
        display: none;
    }

    #shop .content .list {
        gap: 0;
        justify-content: space-between;
    }

    #shop .heading {
        margin-bottom: 2rem;
    }

    #shop .box .top {
        margin-bottom: 2rem;
    }

    #shop .heading {
        justify-content: space-between;
    }

    #shop .heading p {
        font-size: 1.5rem;
    }

    #shop .heading img {
        width: 30px;
    }

    .about-icon-search {
        width: 25px !important;
    }

    .product-card.second {
        margin-top: 20px;
        display: block;
    }
}

/* ========================= Tablet */
/* Tablet */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Tablet landscape / medium */
@media (min-width: 768px) {
    .container {
        max-width: 968px;
    }
}

/* ========================= Dekstop */
/* Laptop 13" (>= 1280px) */
@media (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }

    .hero .container div {
        width: 45%;
    }

    .hero .heading {
        font-size: 3rem;
    }

    #about .box {
        padding: 3rem 2rem;
    }

    #about .box .content {
        gap: 2rem;
    }

    #about .box .content div:first-child p {
        line-height: 120%;
    }

    #blog .box .right {
        height: 65vh;
    }

    #services .content .item .card div {
        font-size: 2.5rem;
    }

    #services .content .item .card-long div {
        font-size: 2.5rem;
    }
}

/* Laptop 14" (>= 1440px) */
@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }

    .hero .heading {
        font-size: 3.5rem;
    }

    #about .box .content div:first-child p {
        line-height: 150%;
    }

    #blog .box .right {
        height: 50vh;
    }
}

/* Laptop 16" (>= 1600px) */
@media (min-width: 1600px) {
    .container {
        max-width: 1536px;
    }

    #blog .box .right {
        height: 40vh;
    }
}

/* Desktop big (>= 1536px) */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}