/* ========================= Media Queries */
/* ========================= Mobile */
/* Mobile Small (max 375px) */
@media (max-width: 375px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .hero .heading {
        font-size: 1.8rem;
        line-height: 110%;
    }
}

/* Mobile Medium (376px – 479px) */
@media (max-width: 479px) {
    .container {
        max-width: 100%;
        padding: 0 1.25rem;
    }

    .hero .heading {
        font-size: 2rem;
    }

    .cta-header {
        display: none;
    }
}

/* Mobile Large (480px – 639px) */
@media (max-width: 639px) {
    .container {
        max-width: 100%;
        padding: 0 1.5rem;
    }

    .hero .bg-hero {
        object-position: 60% 50%;
    }

    .hero .heading {
        font-size: 2.2rem;
    }

    .hero .sub-heading {
        line-height: 130%;
    }

    .hero .container div {
        width: 100%;
    }

    header .nav {
        display: none;
    }

    .btn-rounded-icon-right {
        padding: .8rem 1rem;
    }

    .mobile-menu-button {
        display: block;
        background: transparent;
        border: none;
    }

    .mobile-menu-button img {
        width: 30px;
        height: 30px;
        filter: invert(1);
    }
}

/* ========================= Tablet */
/* Tablet */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* Tablet landscape / medium */
@media (min-width: 768px) {
    .container {
        max-width: 968px;
    }
}

/* ========================= Dekstop */
/* Laptop 13" (>= 1280px) */
@media (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }

    .hero .container div {
        width: 45%;
    }

    .hero .heading {
        font-size: 3rem;
    }
}

/* Laptop 14" (>= 1440px) */
@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }

    .hero .heading {
        font-size: 3.5rem;
    }
}

/* Laptop 16" (>= 1600px) */
@media (min-width: 1600px) {
    .container {
        max-width: 1536px;
    }
}

/* Desktop big (>= 1536px) */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}